* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    overflow-x: hidden;
    overflow-y: hidden;           /* ⚠️ CONFIG TEMPORÁRIA */
}

body::-webkit-scrollbar {
    width: 23px;
    background-color: black;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: #1F9A99;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
}

/* ⚠️ CONFIG TEMPORÁRIA */

.alert-temp {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-temp-square {
    background-color: rgb(20, 15, 0);
    border: 2px solid rgb(166, 122, 0);;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    position: fixed;
    top: 50%;
    bottom: 50%;
    
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.text-manutencao {
    color: white;
}

/* ⚠️ CONFIG TEMPORÁRIA */

.home-firstPartial-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contentElementsNav {
    display: flex;
    width: 1600px;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.image-backgound-main {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .15;
    background-size: cover; /* garante que a imagem cubra todo o elemento */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetir a imagem */
    transform: scale(1.6); /* aumenta o tamanho da imagem em 20% */
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(5px); /* Reduzindo o valor do blur */
    background-color: rgba(255, 255, 255, 0.00001);
}

nav a {
    pointer-events: none;           /* ⚠️ CONFIG TEMPORÁRIA */
    margin: 0 40px;
    list-style: none;
    text-decoration: none;
    color: #F7F7F7;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    opacity: 1;
    transition: 200ms ease;
}

nav a.active {
    color: #1F9A99;
}

nav a:hover {
    color: #1F9A99;
}

.logo>img {
    width: 88px;
    height: 88px;
}

.socials {
    display: flex;
}

.socials > a > img {
    display: flex;
    width: 20px;
    height: 20px;
}

#instagram, #facebook {
    transition: content 200ms ease;
}

#instagram:hover {
    content: url(./assets/icons/instagram-icon-color.png);
}

#facebook:hover {
    content: url(./assets/icons/facebook-icon-color.png)
}

.socials > a {
    display: flex;
    margin: 0 20px;
    width: 20px;
    height: 20px;
}

#sobre-nos {
    height:1600px;
    color: beige;
}

#portfolio {
    height:1600px;
    color: beige;
}

/* ================== */
/*    Texto do main   */
/* ================== */

main {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

main h1 {
    font-size: 68px;
    color: #1F9A99;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

main div {
    width: 100%;
    height: 25px;
}

main h2 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}


/* ================== */
/* Animação de Scroll */
/* ================== */

.demo a {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #1F9A99;
    font: normal 400 15px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    pointer-events: none;
}

#section10 a {
    padding-top: 60px;
}

#section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #1F9A99;
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #1F9A99;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}